<!-- templates/character_detail.html -->
{% extends 'basecopy.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}


   <div class="post-entry">
       <h2>{{ object.name }}</h2>
       <p>{{object.description}}</p>
	   <p>Appearences:</p>
	   <p class="post-meta"><i>{{object.gameSeries}}</i></p>
   </div>
{% endblock content %}