<!-- templates/character_detail.html -->

{% extends 'basecopy.html' %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
				<h3>Welcome to the Super Smash Bros. Fan blog site!</h3>
		        <p>Greetings! This is a fan blog site that posts information about the game series. We post news about upcoming titles, analysis from trailers, and also open discussions about information presented from Nintnedo Directs.</p>
                <p>We also highlight fan made pictures and videos from the Super Smash Bros community.</p>
          <div class="post-preview">
            <a href="{% url 'news' %}">
              <h3 class="post-title">
               News Post: The weekend of release (12/7/18 - 12/9/18)
              </h3>
              <h4 class="post-subtitle">
                Super Smash Bros. Ultimate has finally released after being teased back in march of this year. For many fans they hoped this was going to be the game to boost the series to new heights. This is a first impressions of the game, I have been able to unlock all the characters and I have participated in a tournament already. So does this game live up to the hype?

              </h4>
            </a>
            <p class="post-meta">Posted by Michael Figueroa
              on December 9, 2018</p>
          </div>
		                  <h4 class="section-heading">Community Highlight:</h4>
						  <h5>The Smash Ultimate "Ranked" Experience</h5>
                <h6>By: Ludvix</h6>
                <p>This week's community highlight is a Video about the current state of online in Smash Ultimate by the smash youtuber Ludvix. Ludvix has created many videos in the past displaying himself playing online smash on Wii U and netplay. </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QFwGAaaBato" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                <p> For more comedic gameplay videos please visit <a href="https://www.youtube.com/channel/UCvgjd-OUv9kzCbvSB3dZLpA">Ludvix's Youtube channel.</a></p>
          <hr>
             <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}