<!-- templates/subscribe.html -->

{% extends 'basecopy.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
    <h1> Subscribe </h1>
    <form action="" method="post"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
    </form>

{% endblock content %}