<!-- templates/character_detail.html -->
{% extends 'basecopy.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}
   <div class="post-entry">
      <h1>Thank you for Subscribing!</h1>
   </div>
{% endblock content %}